{% extends 'base.html' %}

{% block content %}
<!-- Table Start -->
<div class="container-fluid pt-3 px-3">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Daftar Toko</h6>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col">Kode Toko</th>
                                <th scope="col">Nama Toko</th>
                                <th scope="col">pemilik Toko</th>
                                <th scope="col">No Hp</th>
                                <th scope="col">Email</th>
                                <th scope="col">Alamat</th>
                                <th scope="col">Jenis Toko</th>
                                <th scope="col">Bank Name</th>
                                <th scope="col">Bank Akun Name</th>
                                <th scope="col">NPWP No</th>
                                <th scope="col">Name NPWP</th>
                                <th scope="col">Provinsi</th>
                                <th scope="col">Kabupaten Kota</th>
                                <th scope="col">Kecamatan</th>
                                <th scope="col">village</th>
                                <th scope="col">latitude</th>
                                <th scope="col">longtitude</th>
                                <th scope="col"></th>
                            </tr>
                        </thead> 
                        <tbody>
                            {% for name in data_toko %}
                            <tr>
                                <td align="center">{{name.kode}}</td>
                                <td align="center">{{name.nama}}</td>
                                <td align="center">{{name.pemilik}}</td>
                                <td align="center">{{name.no_hp}}</td>
                                <td align="center">{{name.Email}}</td>
                                <td align="center">{{name.alamat}}</td>
                                <td align="center">{{name.Jenis_toko}}</td>
                                <td align="center">{{name.bank_name}}</td>
                                <td align="center">{{name.bank_akun_name}}</td>
                                <td align="center">{{name.npwp_no}}</td>
                                <td align="center">{{name.name_npwp}}</td>
                                <td align="center">{{name.provinsi}}</td>
                                <td align="center">{{name.kabupaten_kota}}</td>
                                <td align="center">{{name.kecamatan}}</td>
                                <td align="center">{{name.village}}</td>
                                <td align="center">{{name.latitude}}</td>
                                <td align="center">{{name.longtitude}}</td>
                                <td>
                                    <a href="{% url 'update-toko' name.id %}">
                                        <button type="button" class="btn btn-primary">Ubah</button>
                                    </a>
                                    <a href=""><button type="button" class="btn btn-success" name="hapus_toko">Hapus</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->
{% endblock %}